.footer1 {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-img {
  margin-top: 2px;
  width: 80px;
  height: 70px;
  align-items: center;
}
.ComponentCard {
  display: flex;
  justify-content: center;
}
.row {
  min-height: 70vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #44a0ec;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
